{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Submit {% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="message">Your message: </label><br>
    <input type="text" name="message" id="message"><br>
    <label for="handle">Your name or handle: </label><br>
    <input type="text" name="handle" id="handle"><br>
    <input type="submit" value="Submit message">
  </form>

  {% if thanks %}
    Thanks for submitting a message!
  {% endif %}

{% endblock %}
